<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <fieldset>
            <form autocomplete="off" action="/" method="post">
                <div class="autocomplete">
                    <input id="city-input" name="city" type="text" placeholder="Enter a City" required>
                </div>
                <input type="submit" value="Get Weather">
            </form>
        </fieldset>
    </div>
    <div id ="display" class="container">


    <% weather.forecasts.forEach((f)=> { %>
    <section class="container" style="background-color: #4B515D;">
        <div class="container py-2">
        
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
        
                <div class="card" style="color: #4B515D; border-radius: 35px;">
                <div class="card-body p-4">
        
                    <div class="d-flex">
                    <h6 class="flex-grow-1"><%= weather.cityName %></h6>
                    <h6>HH:MM</h6>
                    </div>
        
                    <div class="d-flex flex-column text-center mt-5 mb-4">
                    <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> <%= f.airTemperature %> </h6>
                    <span class="small" style="color: #868B94">Dummy</span>
                    </div>
        
                    <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="font-size: 1rem;">
                        <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> <%= f.windSpeed %>
                        </span></div>
                        <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> <%= f.windDirection %> </span>
                        </div>
                        <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> <%= f.relativeHumidity %> </span>
                        </div>
                    </div>
                    <div>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu1.webp"
                        width="100px">
                    </div>
                    </div>
        
                </div>
                </div>
        
            </div>
            </div>
        
        </div>
        </section>
        <% }) %>

        <div class="weather-container">
            <div class="weather-header">
                <h1 id="city-name"> <%= weather.cityName %></h1>
                <h3 id="date">Mock Date</h3>
            </div>

            <% weather.forecasts.forEach((f)=> { %>

                <div class="weather-body">
                    <div class="weather-left">
                        <div class="weather-icon">
                            <img id="weather-icon" src="" alt="">
                        </div>
                        <div class="weather-temp">
                            <h2 id="temp">                                
                                <%= f.airTemperature %>
                            </h2>
                            <h3 id="temp-type"></h3>
                        </div>
                    </div>
                    <div class="weather-right">
                        <div class="weather-info">
                            <h3>Humidity</h3>
                            <h4 id="humidity">
                                <%= f.relativeHumidity %>
                            </h4>
                        </div>
                        <div class="weather-info">
                            <h3>Wind Speed</h3>
                            <h4 id="wind-speed">
                                <%= f.windSpeed %>
                            </h4>
                        </div>
                        <div class="weather-info">
                            <h3>Wind Direction</h3>
                            <h4 id="wind-direction">
                                <%= f.windDirection %>
                            </h4>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>


    </div>
    <script src="./js/autocomplete.js"></script>
    <script src="./js/app.js"></script>
</body>
</html>